:root {
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-darker-cyan: hsl(158, 36%, 15%);
    --primary-cream: hsl(30, 38%, 92%);

    --neutral-dark-blue: hsl(212, 21%, 14%);
    --neutral-grayish-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);

    --fw-500: 500;
    --fw-700: 700;

    --ff-main: "Montserrat", sans-serif;
    --ff-secondary: "Fraunces", serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
  }

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

h1 {
    line-height: 1;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

body {
    background-color: var(--primary-cream);
    color: var(--neutral-grayish-blue);
    font-size: 1rem;
    font-family: var(--ff-main);
    font-weight: var(--fw-500);
    display: grid;
    place-content: center;
    min-height: 100vh;
}

main {
    margin: 1rem;
}

.product {
    --padding-space: 1.5rem;
    --gap-space: 1rem;
    background-color: var(--neutral-white);
    border-radius: 1rem;
}

.product-content {
    display: grid;  
    padding: var(--padding-space);
    gap: var(--gap-space);
}

.product-category {
    font-size: 0.75 rem;
    letter-spacing: 5px;
}

.product-title {
    font-size: 2rem;
    font-family: var(--ff-secondary);
    color: var(--neutral-dark-blue);
}

.product-pricing {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.product-pricing > .current-pricing {
    font-size: 2rem;
    font-family: var(--ff-secondary);
    color: var(--primary-dark-cyan);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.45rem;
    background-color: var(--primary-dark-cyan);
    color: var(--neutral-white);
    font-size: 1rem;
    font-weight: var(--fw-500);
    padding: 1rem 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;

}

button:hover {
    background-color: var(--primary-darker-cyan);
}

.shopping-cart {
    width: 15px;
    height: 16px;
}